.container{
    display: flex;
    
}

.Mainsection1{
    background-color: #3C3D37;
    width: 55rem;
    padding: 2%;
    border-radius: 10px;
    margin-right: 2%;
}

.Mainsection2{
    background-color: #3C3D37;

}

.BOD{
    justify-items: center;
}